{{- $headers := index .THead 0 -}}
<div class="table-scroll" role="region" aria-label="Tableau"><table role="table">
  <thead>{{ range .THead }}<tr>{{ range . }}<th{{ with .Alignment }} class="align-{{ . }}"{{ end }} scope="col">{{ .Text }}</th>{{ end }}</tr>{{ end }}</thead>
  <tbody role="rowgroup">{{ range .TBody }}<tr role="row">{{ range $index, $cell := . }}<td role="cell" data-label="{{ (index $headers $index).Text | plainify | htmlUnescape }}">{{ .Text }}</td>{{ end }}</tr>{{ end }}</tbody>
</table></div>
